.DS_Store
node_modules/
/dist/
/keys/
.well-known/
/static/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock*
/temp/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

